<%- include("partials/header") -%>

<h1>Login</h1>

<div class="row">
  <div class="col-sm-8">
    <div class="card">
      <div class="card-body">
        <!--Make POST request to login route -->
        <form action="/login" method="post">
          <div class="form-group">
            <label for="username">Email</label>
            <input type="email" name="username" class="form-control" required>
          </div>
          <div class="form-group">
            <label for="password">Password</label>
            <input type="password" name="password" class="form-control" required>
          </div>
          <button type="submit" name="login-button" class="btn btn-secondary login-btn">Login</button>
        </form>

          <div class="login-or-group">
            <div class="login-hr"></div>
            <span>OR</span>
            <div class="login-hr"></div>
          </div>

          <div class="login-or-group">
            <p><a href="/signup">Create an account</a> for free!</p>
          </div>

      </div>
    </div>
  </div>




</div>







<%- include("partials/footer") -%>
